<!-- Header Component Template -->
<header class="app-header">
  <div class="header-content">
    <!-- Logo/Brand -->
    <div class="header-brand">
      <mat-icon>checklist</mat-icon>
      <span>Todo Manager</span>
    </div>

    <!-- User Section -->
    <div class="header-user" *ngIf="user$ | async as user">
      <div class="user-info">
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">{{ getUserDisplayName(user) }}</span>
      </div>

      <button
        mat-icon-button
        (click)="onLogout()"
        [disabled]="loading$ | async"
        matTooltip="Logout"
        class="logout-button"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</header>

